{
    "_comment": "角色装备配置文件 —— 标准 JSON 格式",

    "characters": {
        "莱万汀": [
            {
                "set": "充能套",
                "armor": "落潮轻甲",
                "gauntlet": "动火用手甲",
                "accessory1": "动火用测温镜",
                "accessory2": "动火用测温镜"
            },
            {
                "set": "主能力套",
                "armor": "动火用辅助骨骼",
                "gauntlet": "动火用手甲",
                "accessory1": "动火用测温镜",
                "accessory2": "生物辅助护板"
            }
        ],
        "庄方宜": [
            {
                "set": "壤流长息套",
                "armor": "壤流轻甲",
                "gauntlet": "壤流护手",
                "accessory1": "长息护手",
                "accessory2": "壤流短棍"
            },
            {
                "set": "壤流主能力套",
                "armor": "壤流轻甲",
                "gauntlet": "壤流护手",
                "accessory1": "生物辅助护板",
                "accessory2": "壤流短棍"
            }

        ],
        "弭弗": [
            {
                "set": "旧锋套",
                "armor": "旧锋装甲",
                "gauntlet": "旧锋手甲",
                "accessory1": "旧锋刺刃",
                "accessory2": "点剑定位信标"
            }
        ],
        "洛茜": [
            {
                "set": "暴击套",
                "armor": "M.I.警用护甲·壹型",
                "gauntlet": "纾难护手",
                "accessory1": "M.I.警用瞄具·壹型",
                "accessory2": "M.I.警用瞄具·壹型"
            },
            {
                "set": "攻击套",
                "armor": "M.I.警用护甲·壹型",
                "gauntlet": "M.I.警用手套·壹型",
                "accessory1": "M.I.警用瞄具·壹型",
                "accessory2": "50式应龙雷达·壹型"
            }
        ],
        "陈千羽": [
            {
                "set": "应龙点剑套",
                "armor": "50式应龙重甲·壹型",
                "gauntlet": "点剑战术手甲",
                "accessory1": "点剑短刃",
                "accessory2": "点剑短刃"
            }
        ],
        "骏卫": [
            {
                "set": "原石技艺套",
                "armor": "碾骨披巾·壹型",
                "gauntlet": "动火用手套",
                "accessory1": "动火用电力匣",
                "accessory2": "动火用电力匣"
            }
        ],
        "余烬": [
            {
                "set": "治疗套",
                "armor": "生物辅助胸甲",
                "gauntlet": "生物辅助手甲",
                "accessory1": "生物辅助盾针",
                "accessory2": "生物辅助盾针"
            },
            {
                "set": "生命套",
                "armor": "生物辅助重甲",
                "gauntlet": "生物辅助臂甲",
                "accessory1": "生物辅助接驳器·壹型",
                "accessory2": "生物辅助接驳器·壹型"
            }
        ],
        "黎风": [
            {
                "set": "应龙点剑套",
                "armor": "50式应龙重甲·壹型",
                "gauntlet": "点剑战术手甲",
                "accessory1": "点剑火石",
                "accessory2": "点剑火石"
            }
        ],
        "管理员": [
            {
                "set": "点剑套",
                "armor": "点剑重装甲",
                "gauntlet": "轻超域护手",
                "accessory1": "点剑火石",
                "accessory2": "点剑火石"
            },
            {
                "set": "旧锋套",
                "armor": "旧锋装甲·壹型",
                "gauntlet": "旧锋手甲·壹型",
                "accessory1": "旧锋刺刃·壹型",
                "accessory2": "旧锋刺刃·壹型"
            }
        ],
        "安塔尔": [
            {
                "set": "长息套",
                "armor": "长息装甲",
                "gauntlet": "长息护手",
                "accessory1": "长息蓄电核",
                "accessory2": "长息蓄电核"
            },
            {
                "set": "长息落潮套",
                "armor": "落潮轻甲",
                "gauntlet": "长息护手",
                "accessory1": "长息蓄电核",
                "accessory2": "长息蓄电核"
            }
        ],
        "洁尔佩塔": [
            {
                "set": "长息套",
                "armor": "纾难护甲",
                "gauntlet": "长息护手·壹型",
                "accessory1": "长息辅助臂",
                "accessory2": "长息辅助臂"
            }
        ],
        "佩丽卡": [
            {
                "set": "脉冲套",
                "armor": "脉冲式干扰服",
                "gauntlet": "清波护手",
                "accessory1": "脉冲式校准器",
                "accessory2": "脉冲式校准器"
            },
            {
                "set": "清波套",
                "armor": "清波轻甲",
                "gauntlet": "清波护手",
                "accessory1": "清波水罐",
                "accessory2": "纾难印章"
            }
        ],
        "狼卫": [
            {
                "set": "清波套",
                "armor": "清波重甲",
                "gauntlet": "清波护手",
                "accessory1": "清波竹刃",
                "accessory2": "长息蓄电核"
            }
        ],
        "卡缪": [
            {
                "set": "拓荒套",
                "armor": "拓荒护服",
                "gauntlet": "拓荒纤维手套·壹型",
                "accessory1": "拓荒增量供氧栓",
                "accessory2": "纾难印章"
            }
        ],
        "别礼": [
            {
                "set": "潮涌点剑套",
                "armor": "点剑轻装甲",
                "gauntlet": "潮涌手甲",
                "accessory1": "悬河供氧栓",
                "accessory2": "悬河供养栓"
            },
            {
                "set": "潮涌应龙套",
                "armor": "50式应龙轻甲",
                "gauntlet": "潮涌手甲",
                "accessory1": "悬河供氧栓",
                "accessory2": "悬河供养栓"
            }
        ],
        "汤汤":[
            {
                "set": "碾骨应龙套",
                "armor": "应龙重甲·壹型",
                "gauntlet": "碾骨腕带·壹型",
                "accessory1": "碾骨面具·贰型",
                "accessory2": "碾骨面具·贰型"
            },
            {
                "set": "碾骨长息套",
                "armor": "应龙重护甲",
                "gauntlet": "碾骨腕带·壹型",
                "accessory1": "碾骨面具·贰型",
                "accessory2": "碾骨面具·贰型"
            },
            {
                "set": "碾骨主能力套",
                "armor": "碾骨重护甲",
                "gauntlet": "碾骨腕带·壹型",
                "accessory1": "碾骨面具·贰型",
                "accessory2": "生物辅助护板"
            },
            {
                "set": "清波主能力套",
                "armor": "清波重甲",
                "gauntlet": "清波手甲",
                "accessory1": "清波定位仪",
                "accessory2": "生物辅助护板"
            },
            {
                "set": "清波长息套",
                "armor": "清波重甲",
                "gauntlet": "清波手甲",
                "accessory1": "清波定位仪",
                "accessory2": "长息蓄电核"
            }
        ],
        "伊冯":[
            {
                "set": "主能力套",
                "armor": "M.I.警用罩衣",
                "gauntlet": "M.I.警用手环",
                "accessory1": "M.I.警用工具组",
                "accessory2": "生物辅助护板"
            },
            {
                "set": "充能套",
                "armor": "M.I.警用护甲·壹型",
                "gauntlet": "M.I.警用手套·壹型",
                "accessory1": "M.I.警用工具组",
                "accessory2": "生物辅助护板"
            }
        ],
        "艾尔黛拉":[
            {
                "set": "长息套",
                "armor": "生物辅助胸甲",
                "gauntlet": "长息护手·壹型",
                "accessory1": "长息辅助臂",
                "accessory2": "长息辅助臂"
            },
            {
                "set": "纯长息套",
                "armor": "长息装甲",
                "gauntlet": "长息护手·壹型",
                "accessory1": "长息辅助臂",
                "accessory2": "长息辅助臂"
            }
        ],
        "赛希":[
            {
                "set": "长息套",
                "armor": "纾难护甲",
                "gauntlet": "长息护手·壹型",
                "accessory1": "长息蓄电核",
                "accessory2": "长息蓄电核"
            },
            {
                "set": "拓荒套",
                "armor": "纾难护甲",
                "gauntlet": "拓荒纤维手套",
                "accessory1": "拓荒增量供养栓",
                "accessory2": "拓荒增量供氧栓"
            }
        ],
        "阿列什":[
            {
                "set": "拓荒套",
                "armor": "拓荒护甲·叁型",
                "gauntlet": "拓荒纤维手套·壹型",
                "accessory1": "拓荒增量供养栓·壹型",
                "accessory2": "纾难印章"
            }
        ],
        "大潘":[
            {
                "set": "暂缺",
                "armor": "暂缺",
                "gauntlet": "暂缺",
                "accessory1": "暂缺",
                "accessory2": "暂缺"
            }
        ],
        "艾维文娜":[
            {
                "set": "暂缺",
                "armor": "暂缺",
                "gauntlet": "暂缺",
                "accessory1": "暂缺",
                "accessory2": "暂缺"
            }
        ],
        "昼雪":[
            {
                "set": "暂缺",
                "armor": "暂缺",
                "gauntlet": "暂缺",
                "accessory1": "暂缺",
                "accessory2": "暂缺"
            }
        ],
        "弧光":[
            {
                "set": "拓荒套",
                "armor": "拓荒护服",
                "gauntlet": "拓荒纤维手套·壹型",
                "accessory1": "拓荒通信器",
                "accessory2": "纾难印章"
            }
        ],
        "埃特拉":[
            {
                "set": "暂缺",
                "armor": "暂缺",
                "gauntlet": "暂缺",
                "accessory1": "暂缺",
                "accessory2": "暂缺"
            }
        ],
        "秋栗":[
            {
                "set": "拓荒套",
                "armor": "拓荒护服",
                "gauntlet": "拓荒增量供养栓·壹型",
                "accessory1": "拓荒纤维手套·壹型",
                "accessory2": "纾难印章"
            }
        ],
        "萤石":[
            {
                "set": "暂缺",
                "armor": "暂缺",
                "gauntlet": "暂缺",
                "accessory1": "暂缺",
                "accessory2": "暂缺"
            }
        ],
        "卡契尔":[
            {
                "set": "暂缺",
                "armor": "暂缺",
                "gauntlet": "暂缺",
                "accessory1": "暂缺",
                "accessory2": "暂缺"
            }
        ]
        
    },

    "equipment": {
        "落潮轻甲":          { "a": 6, "b": 5, "c": 3 },
        "动火用手甲":        { "a": 4, "b": 6, "c": 2 },
        "动火用测温镜":      { "a": 3, "b": 8, "c": 2 },
        "动火用辅助骨骼":    { "a": 5, "b": 4, "c": 5 },
        "生物辅助护板":      { "a": 3, "b": 3, "c": 6 },
        "壤流轻甲":          { "a": 5, "b": 6, "c": 4 },
        "壤流护手":          { "a": 4, "b": 5, "c": 5 },
        "长息护手":          { "a": 3, "b": 7, "c": 3 },
        "壤流短棍":          { "a": 6, "b": 3, "c": 4 },
        "旧锋装甲":          { "a": 5, "b": 5, "c": 5 },
        "旧锋手甲":          { "a": 4, "b": 5, "c": 4 },
        "旧锋刺刃":          { "a": 6, "b": 4, "c": 3 },
        "点剑定位信标":      { "a": 2, "b": 6, "c": 5 },
        "M.I.警用护甲·壹型": { "a": 5, "b": 5, "c": 3 },
        "纾难护手":          { "a": 3, "b": 5, "c": 5 },
        "M.I.警用瞄具·壹型": { "a": 6, "b": 3, "c": 4 },
        "M.I.警用手套·壹型": { "a": 5, "b": 4, "c": 4 },
        "50式应龙雷达·壹型": { "a": 3, "b": 6, "c": 4 },
        "50式应龙重甲·壹型": { "a": 6, "b": 5, "c": 3 },
        "点剑战术手甲":      { "a": 5, "b": 6, "c": 3 },
        "点剑短刃":          { "a": 7, "b": 3, "c": 3 },
        "碾骨披巾·壹型":    { "a": 6, "b": 3, "c": 4 },
        "动火用手套":        { "a": 4, "b": 5, "c": 4 },
        "动火用电力匣":      { "a": 3, "b": 7, "c": 3 },
        "生物辅助胸甲":      { "a": 3, "b": 4, "c": 7 },
        "生物辅助手甲":      { "a": 3, "b": 4, "c": 6 },
        "生物辅助盾针":      { "a": 2, "b": 3, "c": 8 },
        "生物辅助重甲":      { "a": 4, "b": 3, "c": 8 },
        "生物辅助臂甲":      { "a": 3, "b": 4, "c": 6 },
        "生物辅助接驳器·壹型": { "a": 3, "b": 4, "c": 7 },
        "点剑火石":          { "a": 6, "b": 5, "c": 2 },
        "轻超域护手":        { "a": 5, "b": 5, "c": 4 },
        "点剑重装甲":        { "a": 6, "b": 5, "c": 3 },
        "旧锋装甲·壹型":    { "a": 5, "b": 6, "c": 4 },
        "旧锋手甲·壹型":    { "a": 4, "b": 5, "c": 5 },
        "旧锋刺刃·壹型":    { "a": 6, "b": 5, "c": 3 },
        "长息蓄电核":        { "a": 3, "b": 6, "c": 5 },
        "纾难护甲":          { "a": 4, "b": 5, "c": 5 },
        "长息护手·壹型":    { "a": 3, "b": 7, "c": 4 },
        "长息辅助臂":        { "a": 3, "b": 6, "c": 5 },
        "脉冲式干扰服":      { "a": 5, "b": 4, "c": 5 },
        "清波护手":          { "a": 4, "b": 5, "c": 4 },
        "脉冲式校准器":      { "a": 3, "b": 7, "c": 3 },
        "清波重甲":          { "a": 6, "b": 4, "c": 4 },
        "清波竹刃":          { "a": 5, "b": 5, "c": 3 },
        "拓荒护服":          { "a": 5, "b": 4, "c": 4 },
        "拓荒纤维手套·壹型": { "a": 4, "b": 5, "c": 4 },
        "拓荒增量供氧栓":    { "a": 5, "b": 3, "c": 5 },
        "纾难印章":          { "a": 3, "b": 5, "c": 5 }
    },

    "teams": {
        "物理队管理员": [
            {"character": "管理员", "set": "点剑套"},
            {"character": "黎风", "set": "应龙点剑套"},
            {"character": "陈千羽", "set": "应龙点剑套"},
            {"character": "骏卫", "set": "原石技艺套"}
        ],
        "物理队弭弗": [
            {"character": "弭弗", "set": "旧锋套"},
            {"character": "黎风", "set": "应龙点剑套"},
            {"character": "陈千羽", "set": "应龙点剑套"},
            {"character": "骏卫", "set": "原石技艺套"}
        ],
        "电队爆发": [
            {"character": "庄方宜", "set": "壤流长息套"},
            {"character": "弧光", "set": "拓荒套"},
            {"character": "佩丽卡", "set": "脉冲套"},
            {"character": "洁尔佩塔", "set": "长息套"}
        ],
         "电队双先锋": [
            {"character": "庄方宜", "set": "壤流长息套"},
            {"character": "弧光", "set": "拓荒套"},
            {"character": "佩丽卡", "set": "清波套"},
            {"character": "阿列什", "set": "拓荒套"}
        ],
        "火队羊卡": [
            {"character": "莱万汀", "set": "主能力套"},
            {"character": "狼卫", "set": "清波套"},
            {"character": "艾尔黛拉", "set": "长息套"},
            {"character": "卡缪", "set": "拓荒套"}
        ],
        "火队洁卡": [
            {"character": "莱万汀", "set": "主能力套"},
            {"character": "狼卫", "set": "清波套"},
            {"character": "洁尔佩塔", "set": "长息套"},
            {"character": "卡缪", "set": "拓荒套"}
        ],
        "火队羊秋": [
            {"character": "莱万汀", "set": "主能力套"},
            {"character": "狼卫", "set": "清波套"},
            {"character": "艾尔黛拉", "set": "长息套"},
            {"character": "秋栗", "set": "拓荒套"}
        ],
        "混伤队洛汤洁卡": [
            {"character": "洛茜", "set": "暴击套"},
            {"character": "汤汤", "set": "清波套"},
            {"character": "卡缪", "set": "拓荒套"},
            {"character": "洁尔佩塔", "set": "长息套"}
        ],
        "混伤队洛狼洁弥": [
            {"character": "洛茜", "set": "暴击套"},
            {"character": "狼卫", "set": "清波套"},
            {"character": "弭弗", "set": "旧锋套"},
            {"character": "洁尔佩塔", "set": "长息套"}
        ],
        "混伤队洛卡洁弥": [
            {"character": "洛茜", "set": "暴击套"},
            {"character": "卡缪", "set": "拓荒套"},
            {"character": "弭弗", "set": "旧锋套"},
            {"character": "洁尔佩塔", "set": "长息套"}
        ],
        "冰队伊冯": [
            {"character": "伊冯", "set": "主能力套"},
            {"character": "赛希", "set": "长息套"},
            {"character": "汤汤", "set": "清波长息套"},
            {"character": "洁尔佩塔", "set": "长息套"}
        ],
        "冰队别礼": [
            {"character": "别礼", "set": "潮涌应龙套"},
            {"character": "赛希", "set": "长息套"},
            {"character": "汤汤", "set": "清波长息套"},
            {"character": "洁尔佩塔", "set": "长息套"}
        ]
    }
}

